<div ng-include="'views/header.html'"></div>

<div class="container mb-4">
        
        <br><br><br >
        <h3 class="m-4"><i class="fas fa-user-tie"></i> Modúlo Profesores</h3>
        <div class="row">

                <div class="col-md-12">
                    
                    <table class="table table-bordered table-hover table-condensed">
                            <thead class="text-center">
                                <th>Codígo</th>
                                <th colspan="2">Nombre Completo</th>
                                <th>Decanatura</th>     
                                <th>Rango</th>
                                <th>Area Profundización</th>
                                <th><i class="fas fa-cogs fa-lg"></i></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="profesor in profesores">
                                    <td>{{profesor.codprofesor}}</td>
                                    <td>{{profesor.idPersona.nombrePersona}}</td>
                                    <td> {{profesor.idPersona.apellidoPersona}}</td>
                                    <td>{{profesor.idPersona.idPrograma.nomPrograma}}</td>
                                    <td>{{profesor.idPersona.idPrograma.nivelAcademico}}</td>
                                    <td>{{profesor.areaProfundizacion}}</td>
                                    <td colspan="2">
                                        <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger" ng-click="eliminar(profesor.idProfesor, profesor.idPersona.idPersona)"><i class="fas fa-trash-alt"></i></button>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            
                
            </div>
    <br><br><br>
</div>

<div ng-include="'views/footer.html'"></div>