<div ng-include="'views/header.html'"></div>

<div class="container mb-4">

    <br><br><br >
    <h3 class="m-4"><i class="fas fa-male"></i><i class="fas fa-female"></i> Modúlo Personas</h3>
    <div class="row">

        <div class="col-md-5">
            <form class="mt-1 form">
                <p class="lead text-center"> Crear Personas</p>
                <hr>
                <div class="form-row mb-3">
                    <div class="col">
                        <select class="form-control" name="idTipoDocumento" ng-model="person.idTipoDocumento" ng-options="tipoDocumento as tipoDocumento.nombreType for tipoDocumento in listaTipoDocumento track by tipoDocumento.idDataType" required>
                               <option value="">--Elige Tipo Documento--</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="numDocumento" ng-model="person.numDocumento" placeholder="N° de Documento" required>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="nombrePersona" ng-model="person.nombrePersona" placeholder="Nombre de la Persona" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="apellidoPersona" ng-model="person.apellidoPersona" placeholder="Apellidos de la Persona" required>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Genéro</label>
                    </div>
                    <select class="form-control" name="idGenero" ng-model="person.idGenero" ng-options="genero as genero.nombreType for genero in listaGenero track by genero.idDataType" required>
                           <option value="">--Elige Genero--</option>
                    </select>
                </div>

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Programa</label>
                    </div>
                    <select class="form-control" ng-model="person.idPrograma" ng-options="programa as programa.nomPrograma for programa in listaProgramas track by programa.idPrograma" >
                          <option value="">--Elige programa--</option>
                    </select>
                </div>

                <div class="input-group mb-4" ng-if="!person.idPersona" >
                    <div class="input-group-prepend">
                        <label class="input-group-text">Rol</label>
                    </div>
                    <select class="form-control" name="rol" ng-model="person.rol" ng-options="rol as rol.nombreRol for rol in listaRoles track by rol.idRol" required>
                         <option value="" selected>--Elige Rol--</option>                       
                    </select>
                </div>

                <button class="btn btn-block btn-primary"  ng-if="!person.idPersona" ng-click="create()">Crear</button>
                <button class="btn btn-block btn-primary"  ng-if="person.idPersona" ng-click="actualizar()">Actualizar</button>
            </form>
        </div>

        <div class="col-md-7">

            <table class="table table-bordered table-hover table-condensed">
                <thead class="text-center">
                <th colspan="2">Nombre Completo</th>
                <th>Tipo</th>   
                <th>Documento</th>
                <th>Genero</th>
                <th>Modificar</th>
                </thead>
                <tbody>
                    <tr ng-repeat="persona in personas">
                        <td>{{persona.nombrePersona}}</td>
                        <td>{{persona.apellidoPersona}}</td>
                        <td>{{persona.idTipoDocumento.nombreType}}</td>
                        <td>N° {{persona.numDocumento}}</td>
                        <td>{{persona.idGenero.nombreType}}</td>
                        <td>
                            <!--<button class="btn btn-primary btn-block"><i class="fas fa-edit"></i></button>-->
                            <!-- <button class="btn btn-danger" ng-click="eliminar(persona.idPersona)"><i class="fas fa-trash-alt"></i></button> -->
                            <!--<button class="btn btn-primary btn-block" ui-sref="editarPersonas({id:persona.idPersona})"><i class="fas fa-edit"></i></button>-->
                            <button class="btn btn-primary btn-block" ng-click="editar(persona.idPersona)"><i class="fas fa-edit"></i></button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
    <br><br><br>
</div>

<div ng-include="'views/footer.html'"></div>