<div ng-include="'views/header.html'"></div>

<div class="container">

    <br><br><br>
    <h3 class="m-4 text-center"> <i class="fas fa-graduation-cap"></i>Inscripciones 2018-II</h3>

    <div class="row">

        <div class="col-md-2">         
        </div>

        <div class="col-md-8">
            <form class="mt-1 form" ng-submit="Inscribirse()">
                <p class="lead text-center"> Formulario de Inscripcion</p>
                <hr>
                <div class="form-row mb-3">
                    <div class="col-md-4">
                        <select class="form-control" name="rol" ng-model="inscripcion.idCurso" ng-options="curso as curso.codCurso for curso in listaCursos track by curso.idCurso" required>
                             <option value="" selected>--Elige Curso--</option>                       
                        </select>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control" name="rol" ng-model="inscripcion.idEstudiante" ng-options="estudiante as estudiante.idPersona.nombrePersona for estudiante in listaEstudiantes track by estudiante.idEstudiante" required>
                             <option value="" selected>Estudiante</option>                       
                        </select>                       
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" value="Activo" disabled>
                    </div>
                </div>
               
                    <button class="btn btn-block btn-primary">Crear</button>
            </form>
        </div>

        <div class="col-md-2">         
        </div>

    </div>
</div>

<div ng-include="'views/footer.html'"></div>