<div class="pos-f-t fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-2">
                    <ul class="nav justify-content-center lead">
                        <li class="nav-item">
                            <a class="nav-link active" ui-sref="inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="personas">Personas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="estudiantes">Estudiantes</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" ui-sref="profesores">Profesores</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" ui-sref="cursos">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="programas">Programas</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> <small class="lead b"> Menú</small>
                </button>
                <p class="lead" style="margin: auto; color: #fff; font-size: 25px"> 
                    Gestor de Notas
                    <img src="dist/img/logo.jpg" style="width: 12%; border: 2px solid white; border-radius: 50%"> 
                    Konrad Lorenz
                </p>
                 
            </nav>
        </div>