<div ng-include="'views/header.html'"></div>

<div class="container">

    <br><br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-sm">
                <h1 class="text-center"> <i class="fas fa-book-reader"></i> Cursos 2018-II</h1>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aliquam ipsum maxime, voluptates quaerat labore repudiandae consequatur quam fuga dicta cumque placeat voluptas necessitatibus, praesentium assumenda voluptatibus alias obcaecati illum.</p>

            </div>          
        </div>
    </div>

    
    <div class="row container-fluid">

            <div class="col-md-12">
                <form class="mt-1 form" ng-submit="crearCurso()">
                    <!-- <p class="lead text-center"> Crear Personas</p> -->
                    <hr>
                    <div class="form-row mb-4">
                        <div class="col-md-"></div>
                        <div class="col-md-3">
                                <input type="number" class="form-control" name="codCurso" ng-model="asignatura.codCurso"
                                placeholder="Codigo Curso" required>
                        </div>
                        <div class="col-md-4 ml-3 mr-3">
                            <input type="text" class="form-control" name="nomCurso" ng-model="asignatura.nomCurso"
                                placeholder="Nombre del Curso" required>
                        </div>
                        <div class="col-md-4">
                                <select class="form-control" ng-model="asignatura.idAsignatura" ng-options="asignatura as asignatura.nomAsignatura for asignatura in listaAsignaturas track by asignatura.idAsignatura">
                                          <option value="">--Elige Asignatura--</option>
                                    </select>
                        </div>
                    </div>

                    <div class="form-row mb-4">
                            <div class="col-md-"></div>
                            <div class="col-md-3">
                                    <select class="form-control" ng-model="asignatura.idProfesor" ng-options="profesor as profesor.idPersona.nombrePersona + ' ' + profesor.idPersona.apellidoPersona for profesor in listaProfesores track by profesor.idProfesor">
                                              <option value="">--Elige Profesores--</option>
                                        </select>
                            </div>
                            <div class="col-md-2 ml-3">
                                    <select class="form-control" name="dia1" ng-model="asignatura.dia1" required>
                                        <option value="" selected> -- Clase 1 --</option>
                                        <option value="Lun">Lunes</option>
                                        <option value="Mar">Martes</option>
                                        <option value="Mie">Miercoles</option>
                                        <option value="Jue">Jueves</option>
                                        <option value="Vie">Viernes</option>
                                        <option value="Sab">Sabado</option>
                                    </select>
                            </div>
                            <div class="col-md-2">
                                    <select class="form-control" name="dia2" ng-model="asignatura.dia2" required>
                                        <option value="" selected> -- Clase 2 --</option>
                                        <option value="Lun">Lunes</option>
                                        <option value="Mar">Martes</option>
                                        <option value="Mie">Miercoles</option>
                                        <option value="Jue">Jueves</option>
                                        <option value="Vie">Viernes</option>
                                        <option value="Sab">Sabado</option>
                                    </select>
                            </div>

                            <div class="col-md-2 ml-3">
                                    <input class="form-control" type="time" name="inicio" ng-model="asignatura.inicio">
                            </div>
                            <div class="col-md-2">
                                    <input class="form-control" type="time" name="fin" ng-model="asignatura.fin">
                            </div>
                            
                        </div>
    
                    <div class="form-row mt-3 mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                    <button class="btn btn-block btn-primary">Crear Asignatura</button>
                            </div>
                            <div class="col-md-3"></div>
                    </div>
                    
                    </form>

                    <table class="table table-bordered table-hover table-condensed">
                            <thead class="text-center">
                                <th>Codigo Asignatura</th>
                                <th>Nombre Asignatura</th>
                                <th>Descripción</th>
                                <th>Programa</th>
                                <th>N° Creditos</th>
                                <th colspan="2"><i class="fas fa-cogs fa-lg"></i></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="asignatura in asignaturas">
                                    <td>{{asignatura.codAsignatura}}</td>
                                    <td>{{asignatura.nomAsignatura}}</td>
                                    <td>{{asignatura.descAsignatura}}</td>
                                    <td>{{asignatura.idPrograma.nivelAcademico}} - {{asignatura.idPrograma.nomPrograma}}</td>
                                    <td>{{asignatura.numCreditos}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-block"><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger" ng-click="eliminar(asignatura.idAsignatura)"><i class="fas fa-trash-alt"></i></button>
            
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <br><br><hr>    
            </div>
        </div>



</div>

<div ng-include="'views/footer.html'"></div>