<div ng-include="'views/header.html'"></div>

<div class="container">

    <br><br><br>

    <div class="row">

        <div class="col-md-2">         
        </div>

        <div class="col-md-8">

            <div class="jumbotron">
                <h1>Cursos 2018-II</h1>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aliquam ipsum maxime, voluptates quaerat labore repudiandae consequatur quam fuga dicta cumque placeat voluptas necessitatibus, praesentium assumenda voluptatibus alias obcaecati illum.</p>

                <table class="table table-striped table-bordered">
                    <thead class="text-center">
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>E</th>
                    </thead>
                    <tbody>
                        <tr><td colspan="5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ipsum vel asperiores laborum saepe ducimus rem fugiat numquam dolores quibusdam exercitationem veritatis, in, eligendi magnam id quod vero! Autem, eum.</td></tr>
                        <tr><td colspan="5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ipsum vel asperiores laborum saepe ducimus rem fugiat numquam dolores quibusdam exercitationem veritatis, in, eligendi magnam id quod vero! Autem, eum.</td></tr>
                        <tr><td colspan="5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ipsum vel asperiores laborum saepe ducimus rem fugiat numquam dolores quibusdam exercitationem veritatis, in, eligendi magnam id quod vero! Autem, eum.</td></tr>
                        <tr><td colspan="5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ipsum vel asperiores laborum saepe ducimus rem fugiat numquam dolores quibusdam exercitationem veritatis, in, eligendi magnam id quod vero! Autem, eum.</td></tr>
                        <tr><td colspan="5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ipsum vel asperiores laborum saepe ducimus rem fugiat numquam dolores quibusdam exercitationem veritatis, in, eligendi magnam id quod vero! Autem, eum.</td></tr>
                    </tbody>
                </table>
            </div>
            <!-- <form class="mt-1 form" ng-submit="crearCurso()">
                <p class="lead text-center"> Listado de Cursos</p>
                <hr>
                <div class="form-row mb-3">
                    <div class="col">
                        <input type="number" class="form-control" name="codPrograma" ng-model="programa.codPrograma"
                            placeholder="Codigo del Curso" required>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" name="nomPrograma" ng-model="programa.nomPrograma"
                            placeholder="Nombre del Programa" required>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <select class="form-control" name="nivelAcademico" ng-model="programa.nivelAcademico" required>
                            <option value="">Seleccione Nivel...</option>
                            <option value="Pregrado">Pregrado</option>
                            <option value="Postgrado">Postgrado</option>
                            <option value="Maestria">Maestria</option>
                            <option value="Doctorado">Doctorado</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-block btn-primary">Crear</button>
            </form> -->
        </div>

        <div class="col-md-2">         
        </div>

    </div>
</div>

<div ng-include="'views/footer.html'"></div>